version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: nexa_postgres
    restart: always
    environment:
      POSTGRES_USER: nexa_user
      POSTGRES_PASSWORD: nexa_password
      POSTGRES_DB: nexa_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
